{% extends "base.html" %}



{% block content%}
<div class="hero-unit">

<h2>{{ article.title }}</h2>
<p>{{ article.body }}</p>
<p>Kvalitetskrav: {{ article.kvalitetskrav }}</p>
<p>Material: {{ article.material }}</p>
<p>Leveransdatum: {{ article.del_date }}</p>
<p>Skapad: {{ article.pub_date}}</p>
<p>Upplagd av: {{ article.owner}}</p>
<p></p>
<a href="/articles/delete_article/{{article.id}}">Ta bort</a>
<a href="/articles/add_offert/{{article.id}}">Lägg offert</a>


</div>

<!--
<h2>Offerts</h2>
{% for c in article.offert_set.all %}
<p>{{ c.price }} 

</p>
{% endfor %}

<p><a href="/articles/add_offert/{{article.id}}">Skapa offert</a></p>
-->

<a class="btn" href="/articles/avsluta_uppdrag/{{article.id}}">Avsluta uppdraget</a>
{% endblock %}
