{% extends "base.html" %}



{% block content%}
<div class="hero-unit">

<h2>{{ article.title }}</h2>
<p>{{ article.body }}</p>
<p>Kvalitetskrav: {{ article.kvalitetskrav }}</p>
<p>Material: {{ article.material }}</p>
<p>Leveransdatum: {{ article.del_date }}</p>
<p>Skapad: {{ article.pub_date}}</p>
<p>Upplagd av: {{ article.owner}}</p>
<p></p>
<a href="/articles/delete_article/{{article.id}}">Ta bort</a>


</div>


<h3>Offert:
{% for c in article.offert_set.all %}

{{ c.price }} SEK

{% endfor %}
</h3>

<a href="/articles/all/">Godkann offert</a>
{% endblock %}
