{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}

<form action="/articles/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
<ul>

{{form|crispy}}

</ul>

 <a class="btn" href="/articles/all">Avbryt</a>
	


<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>

<input type="submit" name="submit" value="Skapa uppdrag">
</form>

{% endblock %}




