{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Leasia Technologies AB</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  
  	<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">
	
    <link href="{% static 'assets/css/templatemo_main.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/bootstrap-responsive.css' %}" rel="stylesheet">
</head>
<body>

	<div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Leasia Technologies AB</h1></div>
      </div>   
	</div>
	
	
	
    <div class="template-page-wrapper">
	  <div class="navbar-collapse collapse templatemo-sidebar">

        <ul class="templatemo-sidebar-menu">
<!----------------------------------------------------------------------------------------------------------------------------------->
<!--------------- Här ska alla andra html filer länkas, alla dessa class taggar behövs så att css ska funka korrekt ----------------->
<!----------------------------------------------------------------------------------------------------------------------------------->
          	{% block sidebar %}
					  <li><a href="/accounts/profile/">Min profil</a></li>
					  <li><a href="/accounts/profile/">Mina uppdrag</a></li>
					  <li><a href="/accounts/profile/">Inkomna offerter</a></li>
					  <li><a href="/articles/all">Alla uppdrag</a></li>
					  <li><a href="/articles/create/">Skapa uppdrag</a></li>  
					  <li><a href="/accounts/logout/">Logga ut</a></li>
		  {% endblock %}
<!----------------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------- Slutar här ------------------------------------------------------------------------>
<!----------------------------------------------------------------------------------------------------------------------------------->	
		</ul>
		  
      </div>
    
	  
	  <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
<!----------------------------------------------------------------------------------------------------------------------------------->
<!----------------- Här ska allt innehåll finnas, class taggarna gör att css filen fattar att detta är innehållet. ------------------>
<!----------------------------------------------------------------------------------------------------------------------------------->		  
            {% block content %}
            {% endblock %}
		
		</div>
      </div>
	  
	  <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2014 Leasia Technologies AB</p>
        </div>
      </footer>
	  
<!----------------------------------------------------------------------------------------------------------------------------------->
<!--------------- Det nedan är för login funktionen, detta är javascript fattar inte alls hur de funkar. GOOD LUCK :) --------------->
<!----------------------------------------------------------------------------------------------------------------------------------->
      
	  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
            </div>
            <div class="modal-footer">
              <a href="sign-in.html" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
	
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/templatemo_script.js' %}"></script>
	

    
	<script type="text/javascript">
    // Line chart
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
      labels : ["January","February","March","April","May","June","July"],
      datasets : [
      {
        label: "My First dataset",
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      },
      {
        label: "My Second dataset",
        fillColor : "rgba(151,187,205,0.2)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(151,187,205,1)",
        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
      }
      ]

    }

    window.onload = function(){
      var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
      window.myLine = new Chart(ctx_line).Line(lineChartData, {
        responsive: true
      });
    };

    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#loading-example-btn').click(function () {
      var btn = $(this);
      btn.button('loading');
      // $.ajax(...).always(function () {
      //   btn.button('reset');
      // });
    });
  </script>
<!----------------------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------- Här slutar det! ----------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------------->

</body>
</html>