{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
 

    <div class="heading">
        <h1>Category selection</h1>
    </div>

        
<form action="/accounts/category_selection/" method="post">{% csrf_token %}		

<div class="row">
   <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="panel panel-default">
          <div class="panel-body"> 

	<!-------------------Machining----------------------------------->
	<b> Machining: </b>
	<div class="form-row">
		{{ form.bol1|as_crispy_field }}
	</div>
	<div class="form-row">
		{{ form.bol2|as_crispy_field }}
	</div> 
	<div class="form-row">
		{{ form.bol3|as_crispy_field }}
	</div> 
<div class="form-row">
 {{ form.bol4|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol5|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol6|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol7|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol8|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol9|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol10|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol11|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol12|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol13|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol14|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol15|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol16|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol17|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol18|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol19|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol20|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol21|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol22|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol23|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol24|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol25|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol26|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol27|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol28|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol29|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol30|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol31|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol32|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol33|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol34|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol35|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol36|as_crispy_field }}
</div>
<!-------------------Tool Making------------------------------------>
<b> Tool making: </b>
<div class="form-row">
 {{ form.bol37|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol38|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol39|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol40|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol41|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol42|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol43|as_crispy_field }}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p></p>
<br>			  

<p></p>
<br>
<p></p>
		  
</div> 
</div> 
</div> 

   <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="panel panel-default">
          <div class="panel-body"> 


<!-------------------Casting------------------------------------>
<b> Casting: </b>
<div class="form-row">
 {{ form.bol44|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol45|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol46|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol47|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol48|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol49|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol50|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol51|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol52|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol53|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol54|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol55|as_crispy_field }}
</div>
<!-------------------Plastic & Rubber------------------------------------>
<b> Plastic & Rubber: </b>
<div class="form-row">
 {{ form.bol56|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol57|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol58|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol59|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol60|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol61|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol62|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol63|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol64|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol65|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol66|as_crispy_field }}
</div>	  		  
<div class="form-row">
 {{ form.bol67|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol68|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol69|as_crispy_field }}
</div>	 

<!-------------------Finishing------------------------------------>
<b> Finishing: </b>
<div class="form-row">
 {{ form.bol70|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol71|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol72|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol73|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol74|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol75|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol76|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol77|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol78|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol79|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol80|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol81|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol82|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol83|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol84|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol85|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol86|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol87|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol88|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol89|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol90|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol91|as_crispy_field }}
</div>



	  
		  
</div> 
</div> 
</div> 

   <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="panel panel-default">
          <div class="panel-body"> 

<!-------------------Fabrication------------------------------------>
<b> Fabrication: </b>
<div class="form-row">
 {{ form.bol92|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol93|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol94|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol95|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol96|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol97|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol98|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol99|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol100|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol101|as_crispy_field }}
</div>		  
<div class="form-row">
 {{ form.bol102|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol103|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol104|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol105|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol106|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol107|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol108|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol109|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol110|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol111|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol112|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol113|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol114|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol115|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol116|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol117|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol118|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol119|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol120|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol121|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol122|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol123|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol124|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol125|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol126|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol127|as_crispy_field }}
</div>
<div class="form-row">
 {{ form.bol128|as_crispy_field }}
 {{ form.bol128|as_crispy_field }}
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p></p>		  
		  
</div> 
</div> 
</div> 

 
</div> 

 
	
	
	<br>
  <button class="btn btn-info" style="margin-right:10px;" type="submit"><i class="glyphicon glyphicon-cog" ></i>          Update</button></a>
    
  </form>

  
{% endblock %}