{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="heading">
        <h1>Password change</h1>
    </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body"> 


  {% for field in form %}
    {{field.error}}

  {% endfor %}
  
  
  
  <form action="/accounts/password_change/" method="post">{% csrf_token %}
  {{form|crispy}}
  

  <button class="btn btn-info" style="margin-right:10px;" type="submit"><i class="glyphicon glyphicon-cog" ></i>          Update</button></a>
    
  </form>

  
{% endblock %}