{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Upphandlingsplattform{% endblock %}</title>
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}">
	
    <link href="{% static 'assets/css/bootstrap-fluid-adj.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/bootstrap-responsive.css' %}" rel="stylesheet">
	
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>

	<!--	   
           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                   {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                   {% else %}
                    <li><a href="/accounts/login/">Login</a></li>
                   {% endif %}
               </ul>
               <ul class="nav">
                   {% if user.is_authenticated %}
                    <li><a href="/articles/all">alla uppdrag</a></li>
                    <li><a href="/admin/">Admin</a></li>
                   {% endif %}
               </ul>
           </div>
		   
	-->
           <!--/.nav-collapse -->
		   
		
		   
           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
					
					{% block frontbar %}
                    <li><a href="/accounts/logout/">Logga ut</a></li>
					{% endblock %}

               </ul>
               <ul class="nav">

               </ul>
           </div>		   
		   

       </div>
   </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
				{% block sidebar %}
				    <li><a href="/articles/all">Alla uppdrag</a></li>
					<li><a href="/articles/create">Skapa uppdrag</a></li>
					<li><a href="/accounts/profile">Min profil</a></li>
					<li><a href="/admin/">Admin</a></li>
				{% endblock %}
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            {% block content %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<footer>
    <div class="container">
        <p> </p>
    </div>
</footer>
	
<script src="{% static 'assets/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>	
	
			